{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Listas</title>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="{% static 'games/css/criarlistas.css' %}">
  <link rel="stylesheet" href="{% static 'global/css/global-style.css' %}">
</head>

<body>
  {% if request.user.is_authenticated %}
  <nav class="navbar py-4">
    <div class="container-md">
      <a class="navbar-brand text-light href="{% url 'authors:home' %}"><i class="bi bi-joystick"></i> Game Review</a>
      <ul class="d-flex menu-list">
        <li><a class="menu-link text-light" href="{% url 'authors:home' %}"><i class="bi bi-controller"></i> Ver Jogos</a></li>
        <li><a class="menu-link text-light" href="{% url 'authors:lists' %}"><i class="bi bi-list-ul"></i> Ver Listas</a></li>
      </ul>
      <div class="btn-group">
        <button class="dropdown-toggle menu-user text-light fw-semibold" aria-labelledby="dropdownMenu1" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-person-circle"></i> {{request.user.username}}
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'authors:favorites' %}"><i class="bi bi-search-heart"></i> Favoritos</a></li>
          <li><a class="dropdown-item" href="{% url 'authors:my_list' %}"><i class="bi bi-list-ul"></i> Minhas Listas</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="{% url 'authors:logout' %}"><i class="bi bi-box-arrow-in-left"></i> Sair</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-md py-4">
    <h1> <i class="bi bi-gear"> </i>Alterar Lista</h1>
  </div>

  <main>
      <form class="formulario" method="POST">
      {% for field in form %}
      {% csrf_token %}

      <label for="{{field.name}}">{{field.label}}</label>
      {{field}}
      {% if form.errors %}
      <small class="text-center">{{ field.errors }}</small>
      {%endif%}
      {% endfor %}
      <button type="submit" class="btn-newlist">Editar</button>
    </form>  

   <form action="{% url 'authors:addgame' listas.id %}" method="POST" id="selectForm"> 
      {% csrf_token %}
      <select form="selectForm" name="gameSelect" id="gameSelect" class="editInput">
        {% for game in allgames %}
        <option name="gameSelect" class="selectOption"value="{{game.id}}">{{game.title}}</option>
        {% endfor %}
      </select>
      <input class="btn-newlist" name="listas" type="submit" value="Adicionar">
    </form> 

  </main>
  <section>
    <div class="cardes">
      {% for game in gamelists %}
      <div class="carde d-flex">
        <img class="game-edit" src="{{game.image.url}}" alt="{{game.title}}">
        <div>
        <h3 class="card-name">{{game.title}}</h3>
        <span class="game-publisher">{{game.publisher}}</span>
        <a class="btn-remove" href="{% url 'authors:delete_item' listas.id game.id %}">X</a> 

        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  <footer>
    <p style="color: #9c9c9c; font-size: 0.875rem; background-color: #11111142" class="text-center bg-detail py-2 mt-4"><span id="year"></span> © Todos os direitos reservados.</p>
  </footer>
  <script type="text/javascript">
    document.getElementById("year").textContent = (new Date().getFullYear());
  </script>
  {% endif %}
</body>
</html>