a {
    text-decoration: none;
}

ul, li {
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}


ul, li, body, p, h2, h1, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.bg-nav {
  background-color: #363434;
}

.bg-detail {
  background-color: #BA6BEA;
}

.color-detail {
  color: #BA6BEA;
} 